@import 'tailwindcss';

::selection {
  background-color: #fffeb1;
}

:root {
  --sh-class: rgba(0, 0, 0, 0.88);
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
  --color-grey-04: #dedede;
  --color-underline-links: #2cafed;
  --color-neutral-1: #e4e7ea;
  --color-neutral-1-dark: #2d2d2d;
  --space-4: 4px;
  --space-8: 8px;
  --radius-md: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
    --color-neutral-1: var(--color-neutral-1-dark);
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a,
.jobListingLink {
  color: var(--color-links);
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-thickness: 0.12em;
  text-decoration-color: #2cafed;
  text-decoration-color: var(--color-underline-links);
  text-underline-offset: 0.1ex;
  transition:
    text-underline-offset 0.2s,
    -webkit-text-decoration 0.1s ease-in-out;
  transition:
    text-underline-offset 0.2s,
    text-decoration 0.1s ease-in-out;
  transition:
    text-underline-offset 0.2s,
    text-decoration 0.1s ease-in-out,
    -webkit-text-decoration 0.1s ease-in-out;
}

a:hover,
a:focus {
  text-decoration-thickness: 0.2em;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose pre code {
  @apply px-1 py-0.5 rounded-lg;
  padding: 0;
}

.prose code {
  font-size: 0.8125rem;
  background-color: var(--color-neutral-1);
  padding: 0.25rem;
  border-radius: 8px;
  @apply text-neutral-800 dark:text-neutral-200;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
  @apply text-6xl font-medium tracking-tight mt-6 mb-2;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
  border: 0;
  margin: 3rem 0;
  margin: var(--spacing-2x-large) 0;
  border-top: 1px solid #cbd2d8;
  border-top: 1px solid var(--color-neutral-2);
  width: 40%;
}
